@import url('https://fonts.googleapis.com/css?family=Inter'); 
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca'); 
 
body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}
section {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
    background-color: hsl(244, 38%, 16%); 
    overflow: hidden;
    margin: 10%;


}
.info {
    text-align: center;
}
.pic {
    background-color: hsl(277, 64%, 61%);
}
h2 {
    font-family: Inter; 
    color: white;
    text-align: center;
    padding: 0.7em;
    margin: 0.5em;

}
.keyword {
    color: hsl(277, 64%, 61%);
}
p {
    font-family: Lexend Deca;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    padding: 15px;
}
.numbers {
    color: white;
    font-size: 125%;
    font-weight: bolder;
}
ul {
    display: inline;
}
li {
    font-family: Lexend Deca; 
    color: hsla(0, 0%, 100%, 0.6);
    list-style-type: none;
    padding: 15px;
}
img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    display: block;
} 
@media only screen and (min-width: 1024px) {
    section {
    flex-direction: row;
    height: 54vh;
    margin: 12.5%;
    }
    h2 {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 225%;

    }
    p {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 90%;
    }
    .info {
        min-width: 50%;
    }
    .pic {
        min-width: 50%;
    }
    img {
        height: 100%;
    }
    ul {
        display: flex;
        justify-content: center;
        padding-top: 2em;
        padding-inline-start: 0px;
    }
}